[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/FeatureDetector"]
	path = third_party/FeatureDetector
	url = https://github.com/Mysticial/FeatureDetector.git
