.vs
.vscode
*.sln
build*/*
csharp/*/*
tests/csharp/*/*
examples/csharp/*/bin
examples/csharp/*/obj
examples/csharp/*/Debug
*gguf
include/httplib.h
include/json.hpp
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
runtimes
tests/cpp-cmake/test
tests/cpp-cmake/test_runtime
html
main
server
conversation_history.json
